*{


	margin : 0px;
	padding:0px;

}

header {
	text-align: center;
	font-family : comic sans ms;
	color:teal;

}

.navbar {
  background-color: tan;
  color: white;
  text-align: center;
}

.form-control{

position: relative;
  left: 5px;
}

#detailPost{
	text-decoration: none;
}

.funcbuttons button{
	margin:10px
}

